.aside { 
	background-color: #2e2e35;
	padding: 17px;
	width: 255px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 17px;
	padding-top: 102px;
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.3s ease;
}

.aside.closed {
	transform: translateX(-100%);
}

.main-content {
	margin-left: 275px;
}

@media (max-width: 900px) {
	.aside {
		width: 100%;
		position: static;
		min-height: auto;
		margin-bottom: 17px;
		padding: 13px;
		border-radius: 0;
	}

	.main-content {
		margin-left: 0;
	}
}

.spoller__link {
	position: relative;
	padding-left: 17px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	font-size: 14px;
	min-height: 20px;
}

/* Индикатор напротив ссылки */
.spoller__link::after {
    content: "";
    position: absolute;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
}

/* Индикатор отображается у активной ссылки */
.spoller__link.active::after,
.spoller__link:hover::after {
    background-color: red;
}

/* Кнопка скрытия/открытия панели */
.toggle-button {
	position: absolute;
	top: 50%;
	right: -38px;
	transform: translateY(-50%);
	background-color: #2e2e35;
	border: none;
	width: 38px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
	transition: right 0.3s ease, background-color 0.3s ease;
}

/* Иконка кнопки */
.toggle-icon {
	width: 42%;
	height: 42%;
	background-image: url("/images/pointer.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.3s ease;
}

/* Поворот иконки */
.toggle-icon.rotated {
	transform: rotate(180deg);
}

.toggle-button:hover {
	background-color: #25252a;
}

.aside.closed .toggle-button {
	right: -38px;
}

/* Стили для активной категории */
.spoller-active {
    font-weight: bold;
    color: red;
}


