/* Главный контейнер, центрирующий содержимое */
.wrapper {
    display: flex;
    justify-content: center; /* Центрирует контент по горизонтали */

    width: 100%; /* Занимает всю ширину экрана */
    height: 100%; /* Занимает всю высоту экрана */
    background-color: #E8DCD0; /* Фон страницы */
}

/* Внутренний контейнер, располагающий компоненты в колонку */
.container {
    display: flex;
    flex-direction: column; /* Размещает элементы в колонку */
    gap: 20px;
    max-width: 1200px; /* Ограничивает ширину */
    width: 100%;
    padding: 20px;
    background: #E8DCD0;
    border-radius: 10px;
  
}

/* Основной контент */
.main-content {
    padding: 20px;
    background-color: #E8DCD0;
    border-radius: 13px;
   
    font-family: 'intro', sans-serif;
    color: #2e2e35;
}

/* Медиа-запрос для адаптации под мобильные экраны */
@media (max-width: 900px) {
    .wrapper {
        align-items: flex-start; /* Выравнивание контента по верху */
    }
    .container {
        width: 90%;
    }
}
